@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,600;1,600&display=swap') * {
    font-family: "Work Sans", sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    border: 0;
    padding: 20px 25px;
    color: white;
    margin-bottom: 20px;
}
.color-grey{
    color: #727272;
}

/* heading */
header {
    background-color: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}

nav>ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;

}

/* banner */
.banner-content {
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}
.banner img{
    width: 100%;
}

/* main */
main{
    max-width: 1440px;
    margin: 0px auto;
}
/* team */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img{
    margin: 70px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:1.5rem;
}
.team-contant{
    margin-left: 70px;
    margin-right: 70px;
}
.team-title{
    font-size: 3.5rem;
}
.of-Our{
    color: #131313;
    font-weight: 700;
}
.Features{
    color: #FF900E;
    font-weight: 700;
}
.team-description{
    width: 537px;
}



/* responsive */

/* small device*/
@media screen and (max-width:576px) {
    header{
        padding:5px;
    }
    nav,
    .teams-container{
        flex-direction: column;
    }
    .teams-img{
        grid-template-columns: repeat(1,1fr);
    }
    .team-contant{
        margin-left: 20px;
        margin-right: 20px;
    }
}

/* medium device */
@media screen and (min-width:577px) and (max-width:992px){
    .header{
        padding:30px;
    }
    nav, .teams-container{
        flex-direction: column;
    }
}